<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing data import</h1>

  <%= render "form", data_import: @data_import %>

  <%= link_to "Show this data import", @data_import, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to data imports", data_imports_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
